
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/




html body {
    background-image: url("https://cdn.vox-cdn.com/thumbor/rfvqzM4bkPZ_Jfe6sXIwIMI3cFs=/0x0:2400x1600/1200x800/filters:focal(0x1216:384x1600)/cdn.vox-cdn.com/uploads/chorus_image/image/55015003/playstation_logo_buttons_photo_2400.0.jpg");
    width: 100%;
    height: 100%;
    margin: auto;   
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



section {
    width: 50%;
    height: 700px;
    margin: 400px auto;
    background-color: white;
    text-align: center;
    font-weight: 700;
    border: solid 2px darkblue;
}

article p{
    padding: 80px 0;
    font-size: large;
}

.gamesOfYear {
    margin-top: 150px;
    margin-bottom: 150px;
    border-bottom: 6px solid white;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 20px;

    
}

.card {
    margin-bottom: 100px;
    height: 720px;
    background-color: rgb(78, 78, 78);
    color: white;
    text-align: center;
    padding: 250px 0;

}

.card p {
    font-size: 25px; 
}
/* 
.big-card:hover {
    box-shadow: 0px 0px 200px 50px rgb(51, 51, 51);
    transition: all 0.3s ease-in-out; 
 } */

.images {
    height: 720px;
}
 

.about {
    background-color: white;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    border: solid darkblue 2px;
}









